{
  "presets": [
    ["env", {"targets": {"node": true}}],
    "stage-1"
  ],
  "plugins": [
    "transform-runtime"
  ],
  "env": {
    "production": {
      "presets": [
        "babili"
      ]
    }
  }
}
