# For `electron-playgrounds`
packages/electron-playgrounds/src/.next
packages/electron-playgrounds/.app

# For `next-playgrounds`
packages/next-playgrounds/src/.next
packages/next-playgrounds/build

# For `node-playgrounds`
packages/node-playgrounds/lib

# For `serverless-playgrounds`
packages/serverless-playgrounds/.serverless
packages/serverless-playgrounds/.webpack

# For `webpack-react-playgrounds`
packages/webpack-react-playgrounds/build
