.DS_Store
node_modules
*.log

/packages/*/.env

/packages/electron-playgrounds/renderer/.next
/packages/electron-playgrounds/.app
/packages/electron-playgrounds/build
/packages/next-playgrounds/src/.next
/packages/next-playgrounds/build
/packages/node-playgrounds/build
/packages/serverless-playgrounds/_meta
/packages/serverless-playgrounds/.dynamodb
/packages/serverless-playgrounds/.serverless
/packages/serverless-playgrounds/.webpack
/packages/webpack-react-playgrounds/build
