.DS_Store
node_modules
*.log

/packages/*/.env

/packages/electron-playgrounds/renderer/.next
/packages/electron-playgrounds/dist
/packages/electron-playgrounds/.out

/packages/next-playgrounds/src/.next
/packages/next-playgrounds/dist

/packages/next-ts-playgrounds/src/.next
/packages/next-ts-playgrounds/dist

/packages/node-babel-playgrounds/dist

/packages/serverless-playgrounds/_meta
/packages/serverless-playgrounds/.dynamodb
/packages/serverless-playgrounds/.serverless
/packages/serverless-playgrounds/.webpack
/packages/serverless-playgrounds/.serverless.json

/packages/serverless-ts-playgrounds/_meta
/packages/serverless-ts-playgrounds/.dynamodb
/packages/serverless-ts-playgrounds/.serverless
/packages/serverless-ts-playgrounds/.webpack
/packages/serverless-ts-playgrounds/.serverless.json

/packages/webpack-react-playgrounds/dist
